html, body {
  height: 100%;
  width: 100%;
  
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

}

canvas {
  display: block;
  
}
.p5Canvas {
  width: 1001px !important;
  height: 391px !important;
}


